/* Write your CSS here */
.container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  /* text-align: center; */
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.searchIcon {
  width: 20px;
}
