/* Write your CSS here */
.place-name {
  font-family: 'Roboto';
  font-size: 25px;
}
.place-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.image {
  min-width: 50px;
  width: 300px;
  border-radius: 12px;
}
